header, nav, main {
    max-width: 60rem;
    margin: auto;
}


nav ul {
    flex-direction: row;
    justify-content: flex-end;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}